.increment {
    background-color: brown;
    padding: 10px;
    margin: 10px;
    border-color: aquamarine;

}

.count {
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}